header{
	width:100%;

}

header img{
	height:65px;
	margin-left: 3%;
	margin-top: 35px;
}

#tvstand ul li{
	display:inline-block;
	list-style-type: none;
}

#tvstand ul li img{
	height:100px;
}


#tvstand img:hover{
	height:500px;
	overflow:auto;
}