
nav ul{
	display:none;
}

header img{
	height:40px !important;
}


.hero {
	background-size: 100% 350px !important;
	height:350px !important;
}

.hero h1{
	font-size: 12px !important;
}

.hero a{
	font-size: 8px;
	padding:7px 10px;
	margin-left: 7%;
}

