

header img{
	height:40px !important;
}

nav ul{
	text-align: right !important;
	height: 20px !important;
	background-color: white;
	padding: 30px 30px 5px 0 !important;
	
}

nav{
	height: 45px !important;
	padding-bottom: 20px !important; 
	background-color: #ffffff;
}

#social {
  position: fixed;
  top: 380px !important;
}


.hero {
	background-size: 100% 350px !important;
	height:350px !important;
}

.hero h1{
	font-size: 11px !important;
	padding-top: 150px !important;
	margin-bottom: 15px !important;
	width:90px !important;
	margin-left: 8px !important;
}

.hero a{
	font-size: 8px !important;
	padding:7px 10px !important;
	margin-left: 5% !important;
}

.about img{
	height:100px !important;
	display: block;
	margin: 50px auto 0 auto;
}

#work a img{
	height:100px !important;
	margin: 0 auto !important;
}

.about h1{
	text-align: center;
	font-size: 30px !important;
	margin-bottom: 35px !important;
	
}

.about p{
	font-size: 14px !important;
	line-height: 12px !important;
}

#work h2{
	
	font-size: 30px !important;
	margin-top: 40px !important;
}

#contact h2{
	font-size: 30px !important;
	margin-top: 40px !important;
}

