

nav{
	text-align: right;
	height: 45px;
	width:100%;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 5px;
	
}

nav ul{
	margin-right: 40px;
}
nav li{
	display:inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: helvetica;
}
nav ul li a{
	text-decoration: none;
	color:black;
}
nav ul li a:hover{
	font-family: colorsOfAutumn;
	text-shadow:2px 2px 2px gray;
}

.middle{
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

body{
	margin:0;
}

.photo_back{
	background-image:url("../images/back.jpg");
	background-size: 100% 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	height: 740px;
	margin-left: -2px;
}

h1{
	padding-top: 300px;
	text-align: left;
	color:white;
	font-size: 27px;
	font-family: colorsOfAutumn;
	margin-left:12px;
}
h5{
	text-align: left;
	color:white;
	font-family: openSans;
	font-size:18px;
	font-weight: 100;
	margin-bottom: 30px;
	letter-spacing: .5px;
	margin-top: -30px;
}

.photo_back a{
	color: white;
	text-decoration: none;
	padding:10px 45px 10px 45px;
	background-color: rgba(74,144,226,.7);
	margin-left: 80px;
	
}
.photo_back a:hover{
	color: black;
}
