

@font-face {
	font-family: colors_of_autumn;
	font-style: normal;
	font-weight: normal;
	src: URL("../fonts/colors_of_autumn.ttf");
}

header img{
    -moz-animation-name: slideNav;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.5s;

    -webkit-animation-name: slideNav;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.5s;

    animation-name: slideNav;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

@-moz-keyframes slideNav {
    0% {
        -moz-transform: scale(0,0);
    }
    100% {
        -moz-transform: scale(320px, 320px);
    }

}
@-webkit-keyframes slideNav {
    0% {
        -webkit-transform: scale(0,0);
    }
    100% {
        -webkit-transform: scale(320px, 320px);
    }
}
@keyframes slideNav {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(320px, 320px);
    }
}
body{
	margin:0;
}

header{
	position: fixed;
	width:100%;
	margin-top: -35px;

}

header img{
	height:65px;
	float:left;
	margin-left: 3%;
	margin-top: 35px;
}

nav{
	height: 65px;
	padding-bottom: 30px;
	background-color: #ffffff;
}

nav ul{
	text-align: right;
	height: 35px;
	background-color: white;
	padding: 40px 60px 5px 0;
	
}


nav li{
	display:inline-block;
	padding:5px 15px;
	font-family: helvetica;
}
nav ul li a{
	text-decoration: none;
	color:black;
	transition: all 1.5s;
;
	
}
nav ul li a:hover{
	font-family:colors_of_autumn, helvetica;
	text-shadow:2px 2px 2px gray;
}

.middle{
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}



.hero{
	background-image:url("../images/back3.jpg");
	background-attachment: fixed;
	background-size: 100% 800px;
	height:840px;
	background-repeat: no-repeat;
}


.hero h1{
	padding-top: 300px;
	text-align: left;
	color:white;
	font-size: 1.9vw;
	font-family: colors_of_autumn, helvetica;
	margin-left:12px;
}


.hero a{
	color: white;
	text-decoration: none;
	font-size: 1vw;
	padding:1.5vh 2vw 1.5vh 2vw;
	font-family: helvetica;
	background-color: rgba(142,202,252,.7);
	margin-left: 7%;
	
	
}
.hero a:hover{
	color: #282828;
	opacity:1;
}

.about img{
	height:200px;
	display: block;
	margin: 50px auto 0 auto;
}

.about h1{
	text-align: center;
	font-size: 40px;
	margin-top: -5px;
	font-family: helvetica;
	color: #4a4a4a;
}

.about p{
	font-size: 18px;
	text-align: center;
	font-family: helvetica;
	line-height: 20px;
}

#contact{
	height:400px;
}