body {
	font-family: "roboto", sans-serif;
	font-weight: bold;
	margin: 0;
	font-size: 12px;
	color: #495b60;
	background: linear-gradient(rgb(248, 248, 248), rgb(200, 200, 200));
}

@font-face {
	font-family: acrossTheRoad;
	font-style: normal;
	font-weight: normal;
	src: URL("../font/Across_the_road.ttf");
}
/* Layout */



/* Header Styles */

header {
	background: linear-gradient(rgb(255,255,255), rgb(248, 248, 248));
	width: 100%;
	display: table;
	content: '';
	padding-top: 10px;
	margin-bottom: 50px;
}



.leftButton{
	border-right: 1px solid;
	padding-right: 3px;
	border-left: 1px solid;
	padding-left: 3px
}


/* Navigation */

header > nav {
	width: 100%;
	text-align: center;
}

header > nav ul {
	list-style-type: none;
}

header > nav ul li {
	display: inline-block;
	margin-bottom: 25px;
}

header > nav ul li img{
	width:200px;
	margin-bottom: -45px;
	padding-left: 60px;
	padding-right: 60px;
}

header > nav ul li a {
	padding: 10px;
	color: gray;
	padding-left: 65px;
	padding-right: 55px;
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
	font-weight: bold;

}

header > nav ul li a:hover {
	color: black;
}

/* Hero Section */

.inner-wrapper {
	width: 100%;
	height:500px;
	margin: 0 auto;
	background:linear-gradient(rgba(248, 248, 248, .38), rgba(220, 210, 210, .28)),
    url('http://static1.squarespace.com/static/5594c2f8e4b03e226a6a619a/t/56102efee4b04e09dd2a086f/1443901182761/7691211410_27f9a44c3f_o-1200x799.jpg');
    background-position: center;
    background-repeat: no-repeat;
}


  .inner-wrapper > h1{
	font-size: 5em;
	max-width: 100%;	
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow:1px 1px black;
	padding-top: 100px;
	font-family: garamond;
}


/* three pics below main */

.three-even-columns{
	margin: -100px auto 0px auto;
	width: 100%;
	content: '';
	clear: left;
	padding-left: 58px;
	
}

.three-column-1,
.three-column-2,
.three-column-3 {
	width: 29%;
	float: left;
	padding-top: 3px;
	margin-top: 82px;
	background-color:rgba(255 255 255 0);
	opacity: 0.8;
	margin-top: 110px;
	margin-right: 17px;
	margin-left: 15px;
}


.three-column-1 > a > img {
	width:100%;
	height: 200px;

}

.three-column-1 > a > img:hover{
	opacity: 1;
}

.three-column-1 > a > p {
	color: white;
	text-decoration: none;
	font-size: 24px;
	margin:-52px auto 15px auto;

}

.three-column-2 > a > img {
	width:100%;
	height: 200px;
}

.three-column-2 > a > img:hover{
	opacity: 1;
}

.three-column-2 > a > p {
 color: white;
 text-decoration: none;
 margin-top: -60px;
}

.three-column-3 > a > img {
	width: 100%;
	height: 200px;

}

.three-column-3 > a > img:hover{
	opacity: 1;
}

.three-column-3 > a > p {
	color: white;
	text-decoration: none;
	margin-top: -52px;
}



/* Footer */

footer {
	max-width: 1300px;
	width: 90%;
	padding: 45px 0;
	margin-top: 60px;

}

footer > h3{ 
	font-size: 3em;
	font-family: Arial;
	color: black;
}

footer > h5 {
	font-size: 2em;
	color: black;
	font-family: acrossTheRoad;
	margin-top: -45px;
}

footer > p {
	margin-top: -13px;
	font-size: 12;
}

