
header{
	width:100%;

}

header img{
	height:65px;
	margin-left: 3%;
	margin-top: 35px;
}

#costa ul li{
	display:inline-block;
	list-style-type: none;
}

#costa ul li img{
	height:100px;
}

#sa ul li{
	display:inline-block;
	list-style-type: none;
}

#sa ul li img{
	height:100px;
}

#kenya ul li{
	display:inline-block;
	list-style-type: none;
}

#kenya ul li img{
	height:100px;
}


#guatemala ul li{
	display:inline-block;
	list-style-type: none;
}

#guatemala ul li img{
	height:100px;
}

