#description{
	height: 2000px;
	background-color: gray;
	margin-top: 70px;
}

#process p{
	margin-top:50px;
	display: inline-block;
	color: white;
}

#process img{
	display: inline-block;
	float: right;
	width: 40%;
}

#brew-image{
	margin-top: 80px;
}