

#photos {
    width: 100%;
    display: inline-block;
    float: left;
    overflow-x: scroll;
}


#sub {
    width: 300%;
    position: relative;
}



// PROJECTS SECTION //

#projects {
    width: 33.333333333%;
    height: 100%;
    display: inline-block;
    float: left;
    overflow: hidden;
}


#info{
    width: 100%;
    color: white;
    opacity:0;
    margin: 0;
    text-align: center;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: all 1s ease; 
}


#info:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    transition: all 1s ease; 
}

#info h2{
    margin: 0;
    padding-top:100px;
    font-family: helvetica;
    font-size: 30;
    text-decoration: underline;
    
}

#info p{
    font-size: 16px;
    line-height:30px;
    font-family: helvetica;
    margin: 0;
    margin-top: 25px;
    width: 40%;
    line-height: 17px;
    display: inline-block;
    text-align: center;
}

#info a{
    font-family: helvetica;
    font-size: 20px;
    display: block;
    background-color: #aaaaaa;;
    border-radius: 10px;
    text-decoration: none;
    width: 25%;
    color: black;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 5px;
}

#proj1{
    width: 50%;
    height: 49.3%;
    display: inline-block;
    float: left;
    background-image: url('../images/brew.jpg');
    background-size: cover;
    // border: 2px solid black;
    overflow: hidden;
}




#proj2{
    width: 50%;
    height: 49.3%;
    display: inline-block;
    float: left;
    background-image: url('../images/whereworld.jpg');
    background-size: cover;
    // border: 2px solid black;
    overflow: hidden;
}

#proj3{
    width: 50%;
    height: 49.3%;
    display: inline-block;
    float: left;
    background-image: url('../images/mylife.jpg');
    background-size: cover;
    // border: 2px solid black;
    overflow: hidden;
}



#proj4{
    width: 50%;
    height: 49.3%;
    display: inline-block;
    float: left;
    background-image: url('../images/BPM.jpg');
    background-size: cover;
    // border: 2px solid black;
    overflow: hidden;
}



// ABOUT ME SECTION //






@media only screen and (max-width: 800px) {

   
    #photos{
         overflow: visible;
    }
    #sub {
        width:100%;
        height: 100%;
    }

    #projects{
        width: 100%;
    }

    #proj1{
        width: 50%;
        height: 50%;
    }

    #proj2{
        width: 50%;
         height: 50%;
    }

    #proj3{
        width: 50%;
         height: 50%;
    }

    #proj4{
        width: 50%;
         height: 50%;
    }

    #info{
        opacity: 1;
         background-color: rgba(0,0,0,0.8);
    }

    #info h2{
    margin: 0;
    padding-top:40%;
    font-family: helvetica;
    font-size: 20;
    text-decoration: underline;
    
}

#info p{
    font-size: 12px;
    line-height:13px;
    font-family: helvetica;
    margin: 0;
    margin-top: 25px;
     width: 85%;
    display: inline-block;
    text-align: center;
}
#info a{
    width: 60%;
    font-size: 14px;
    }
    
}
















