
#entire{
	opacity: 0.1;
}


#gatekeeper{
	background-image: url('../images/cheers.jpg');
	background-size: cover;
	width: 75%;
	height: 650px;
	left: 12.5%;
	margin-top: 5%;
	position: fixed;
	display: none;
	z-index: 100;
}


#box{
	width:100%;
	height: 60%;
	background-color: rgba(200, 200, 200, 0.9);
}

#box p{
	text-align: center;
	font-size: 40px;
	color: $maincolor;
	font-family: helvetica;
	font-weight: bold;
	margin-top: 18%;
}

#buttons{
	width: 100%;
	height: 50%;
	margin-top: 15%;

}



#yes{
	background-color: $maincolor;
	color: white;
	display: inline-block;
	width: 49%;
	text-align: center;
	padding: 20px 20px;
}

#no{
	background-color: $maincolor;
	color: white;
	display: inline-block;
	width: 49%;
	text-align: center;
	padding: 20px 20px;
}

#yes:hover{
	color: $darkgray;
	cursor: hand;
}

#no:hover{
	color: $darkgray;
	cursor: hand;
}

#not21{
	width: 100%;
	height: 100%;
	background-color: gray;
	display: none;
	position: fixed;
	z-index: 10000;
}


#not21 h1{
	text-align:center;
	color: white;
	margin-top: 20%;
}














