@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);

$mainfont: 'Fredericka the Great', helvetica;

$maincolor: #3090c0;

$darkgray: #3e3e3e;

$secondaryfont: 'Alegreya', serif;